body {
    background-color: #dff3b8;
}

button {
    width: 150px;
    height: 35px;
    margin: -120px;
    margin-top: 200px;
    outline: none;
    background-color: #f4ff54;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    transform: scale(1.1);
    border-radius: 5px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #a1ff54;
}

button:active {
    transform: scale(1);
}